<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mega Rocket S.A. Gym</title>
    <link rel="stylesheet" href="../../Week-06/css/reset.css">
    <link rel="stylesheet" href="../../Week-06/css/common.css">
    <link rel="stylesheet" href="../../Week-06/css/header.css">
    <link rel="stylesheet" href="../../Week-06/css/footer.css">
    <link rel="stylesheet" href="../../Week-06/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="../../Assets/radium-rocket-logo.png" alt="Logo Radium Rocket">
                <h1>MEGA ROCKET S.A.</h1>
            </a>
        </div>
        <div class="btn-hamburguer-menu">
            <img src="../Assets/Icon.png" alt="Icon hamburguer menu">
        </div>
        <div class="container-btn"> 
            <div class="button">
                <a href="#" class="btn-login" target="_blank">
                    LOGIN
                    <img src="../../Assets/login-icon.png" alt="Login icon">
                </a>
            </div>
            <div class="button">
                <a href="#" class="btn-sign-up" target="_blank">
                    SIGN UP
                    <img src="../../Assets/signup-icon.png" alt="Sing up icon">
                </a>
            </div>
        </div>
    </header>
    <main class="container-main">
        <aside id="sidebar">
            <nav>
                <div class="links-sidebar">
                    <a href="#title-main">HOME</a>
                    <a href="#features">FEATURES</a>
                    <a href="#contact-us">CONTACT US</a>
                    <a href="#activities">ACTIVITIES</a>
                    <a href="#memberships">MEMBERSHIPS</a>
                    <a href="#our-story">OUR STORY</a>
                </div>
                <div class="container-dates">
                    <div class="location">
                        <h4>
                            <img src="../../Assets/mapa 1.png" alt="GPS icon">
                            Av.Pellegrini 3535
                        </h4>
                    </div>
                    <h4>
                        <img src="../../Assets/ring-phone-1.png" alt="Phone icon">
                        +464 206 96
                    </h4>
                </div>
            </nav>
        </aside>
        <div class="container-sections">
            <section id="title-main" class="get-fit">
                <div>
                    <h2>
                        DON´T SIT<span>GET FIT</span>
                    </h2>
                </div>
                <div class="text-fit">
                    <p>
                        Your best version is waiting for you, join Mega Rocket Gym today.
                    </p>
                    <p>
                        In this app you can choose our best personal trainers and the best classes
                    </p>
                    <p>
                        and have a bunch of privileges with our differents memberships.
                    </p>
                </div>
            </section>
            <section id="features" aria-label="Features section" class="features">
                <h2>
                    FEATU<span>RES</span>
                </h2>
                <div class="features-group-reserv-sched">
                    <div class="reservations">
                        <h3>
                            RESERVATIONS
                        </h3>
                        <div class="text-reservation">
                            <p>
                                Choose your favorite class and
                            </p>    
                            <p>
                                ensure your place
                            </p>
                        </div>
                    </div>
                    <div class="schedule"> 
                        <h3>
                            SCHEDULE
                        </h3>
                        <div class="text-schedule">
                            <p>
                                Monday to Saturday
                            </p>
                            <p>
                                08 am till 08 pm
                            </p>
                        </div>
                    </div>
                </div>
                <div class="features-group-memb-cont">
                    <div class="memberships">
                        <h3>
                            MEMBERSHIPS
                        </h3>
                        <div class="text-memberships">
                            <p>
                                Pick whick one is
                            </p>
                            <p>
                                for you
                            </p>
                        </div>
                    </div>
                    <div class="contact">
                        <h3>
                            CONTACT AND SUGGESTIONS
                        </h3>
                        <div class="text-contact">
                            <p>
                                Your opinion is important to us,
                            </p>
                            <p>
                                helps us improve
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="contact-us" aria-label="Contact us section" class="contact-us">
                <h2>
                    CONTACT<span> US</span>
                </h2>
                <div class="form-contact-us">
                    <form action="#" method="post" class="class-form">
                        <div class="form-group">
                            <div class="label-input">
                                <label for="name">Name</label>
                                <input type="text" placeholder="Name" id="name">
                            </div>
                            <div class="label-input">
                                <label for="surname">Surname</label>
                                <input type="text" placeholder="Surname" id="surname">
                            </div>
                            <div class="label-input">
                                <label for="e-Mail">E-Mail</label>
                                <input type="email" placeholder="E-Mail" id="e-mail">
                            </div>
                            <div class="label-input">
                                <label>Contact reason</label>
                                <select>
                                    <option selected>Choose one</option>
                                    <option value="Reason 1">I want to know the memberships and costs</option>
                                    <option value="Reason 2">I want to make a query or suggestion</option>
                                    <option value="Reason 3">I want to make a claim</option>
                                </select>
                            </div>
                        </div>
                        <div class="label-textarea">
                            <label>Message</label>
                            <textarea name="Message" placeholder="Write here..." id="message"></textarea>
                        </div>
                        <div class="btn-form">
                            <button type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </section>
            <section id="activities" aria-label="Activities section" class="activities">
                <h2>
                    ACTIVI<span>TIES</span>
                </h2>
                <div class="activities-boxes">
                    <div class="activ-box-cross-box">
                        <div class="crossfit">
                            <h3>
                                CROOSFIT
                            </h3>
                        </div>
                        <div class="box">
                            <h3>
                                BOX
                            </h3>
                        </div>
                    </div>
                    <div class="activ-box-func-spin-fit">
                        <div class="functional">
                            <h3>
                                FUNCTIONAL
                            </h3>
                        </div>
                        <div class="spinning">
                            <h3>
                                SPINNING
                            </h3>
                        </div>
                        <div class="fitness">
                            <h3>
                                FITNESS
                            </h3>
                        </div>
                    </div>
                </div>
            </section>
            <section id="memberships" aria-label="Memberships section" class="memberships-section">
                <h2>
                    MEMBER<span>SHIPS</span>
                </h2>
                <div class="membership-types">
                    <div class="only-classes">
                        <h3>
                            ONLY CLASSES MEMBERSHIP
                        </h3>
                        <div class="text-1-only-classes">
                            <p>
                                FREE ACCESS TO
                            </p> 
                            <p>
                                CLASSES WITH
                            </p> 
                            <p>    
                                REGISTRATION
                            </p>
                        </div>
                        <div class="text-2-only-classes">
                            <p>
                                SCHEDULE VIEW
                            </p>
                        </div>
                    </div>
                    <div class="classic-member">
                        <h3>
                            CLASSIC MEMBERSHIP
                        </h3>
                        <p>
                            FREE ACCESS TO THE GYM
                        </p>
                        <p>
                            PERSONALIZED MONITORING & COACHING
                        </p>
                        <div class="text-classic-member">
                            <p>
                                SCHEDULE VIEW
                            </p>
                        </div>
                    </div>
                    <div class="black-member">
                        <h3>
                            BLACK MEMBERSHIP
                        </h3>
                        <p>
                            FREE ACCESS TO THE GYM
                        </p>
                        <p>
                            FREE ACCESS TO CLASSES WITH REGISTRATION
                        </p>
                        <p>
                            PERSONALIZED MONITORING & COACHING
                        </p>
                        <div class="text-black-member">
                            <p>
                                SCHEDULE VIEW
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="our-story" aria-label="our Story section" class="our-story">
                <h2>
                    OUR<span>STORY</span>
                </h2>
                <div class="text-story">
                    <div class="paragraph-story-1">
                        <p>
                            We are one of the oldest but most modern gyms.
                        </p>
                        <p>    
                            50 trainers work in MR GYM and more than 200 people come to our place everyday.
                        </p>
                    </div>
                    <div class="paragraph-story-2">
                        <p>
                            We are dedicated to helping you improve
                        </p>
                        <p>    
                            your quality of life in a fun and active way.
                        </p>
                    </div>
                </div>    
            </section>
        </div>
    </main>
    <footer>
        <div class="link-social">
            <a href="https://www.instagram.com" target="_blank">
                <img src="../../Assets/instagram-logo.png" alt="Instagram logo">
                @ROCKETGYM
            </a>
            <a href="https://wa.me/#####?text=¡I´m+interested!" target="_blank">
                <img src="../../Assets/whatsapp-logo.png" alt="Whatsapp logo">
                +1 408 741 2369
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <img src="../../Assets/facebook-logo.png" alt="Instagram logo">
                Mega rocket GYM
            </a>
        </div>
        <div class="p-footer">
            <h2>
                MEGA ROCKET SA
            </h2> 
            <p>
                All rights reserved. 2023©
            </p>
        </div>
    </footer>
</body>
</html>