<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Week-06/css/reset.css">
    <link rel="stylesheet" href="../../Week-06/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Mega Rocket S.A. Gym | Login</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="../../Assets/radium-rocket-logo.png" alt="Logo Radium Rocket">
            </a>
            <div>
                <h1>MEGA ROCKET S.A.</h1>
            </div>
        </div>
        <div class="btn-sing-up">
            <a href="sign-up.html" class="btn-sign-up" target="_blank">
                SIGN UP
                <img src="../../Assets/signup-icon.png" alt="Sing up icon">
            </a>
        </div>
    </header>
    <main class="main-login">
        <div class="box">
            <h2>
                Login
            </h2>
            <div class="form-login">
                <div class="label-input">
                    <label for="name">Email</label>
                    <input type="text" placeholder="example@gmail.com" id="Email">
                </div>
                <div class="label-input">
                    <label for="name">Password</label>
                    <input type="text" placeholder="********" id="Email">
                </div>
                <div class="forget">
                    <button>
                        Forget your password?
                    </button>
                </div>
                <div class="btn-enter">
                    <button>
                        Enter
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>