<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Week-06/css/reset.css">
    <link rel="stylesheet" href="../../Week-06/css/sign-up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Mega Rocket S.A. Gym | Sing-up</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="../../Assets/radium-rocket-logo.png" alt="Logo Radium Rocket">
                <h1>MEGA ROCKET S.A.</h1>
            </a>
        </div>
        <div class="btn-login-box">
            <a href="login.html" class="btn-login" target="_blank">
                LOGIN
                <img src="../../Assets/login-icon.png" alt="Login icon">
            </a>
        </div>
    </header>
    <main class="main-sign-up">
        <div class="box">
            <form class="form-sign-up">
                <div class="label-input">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Name" id="Name">
                    <p id="textValidationName">Invalid name</p>
                </div>
                <div class="label-input">
                    <label for="lastname">Lastname</label>
                    <input type="text" placeholder="Lastname" id="Lastname">
                    <p id="textValidationLastname">Invalid lastname</p>
                </div>
                <div class="label-input">
                    <label for="DNI">DNI</label>
                    <input type="text" placeholder="DNI" id="Dni">
                    <p id="textValidationDni">Invalid DNI</p>
                </div>
                <div class="label-input">
                    <label for="date">Date of birth</label>
                    <input type="date" placeholder="dd/mm/aaaa" id="DateOfBirth">
                    <p id="textValidationDate">Date invalid</p>
                </div>
                <div class="label-input">
                    <label for="phone">Phone</label>
                    <input type="text" placeholder="Phone" id="Phone">
                    <p id="textValidationPhone">Invalid number phone</p>
                </div>
                <div class="label-input">
                    <label for="location">Location</label>
                    <input type="text" placeholder="Location" id="Location">
                    <p id="textValidationLocation">Invalid location</p>
                </div>
                <div class="label-input">
                    <label for="Adress">Adress</label>
                    <input type="text" placeholder="Adress" id="Adress">
                    <p id="textValidationAdress">Invalid adress</p>
                </div>
                <div class="label-input">
                    <label for="postal">Postal Code</label>
                    <input type="text" placeholder="Postal Code" id="PostalCode">
                    <p id="textValidationPostalCode">Invalid Postal Code</p>
                </div>
                <div class="label-input">
                    <label for="email">Email</label>
                    <input type="text" placeholder="Email" id="Email">
                    <p id="textValidationEmail">Invalid email</p>
                </div>
                <div class="label-input">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Password" id="Password">
                    <p id="textValidationPassword">Invalid password</p>
                </div>
                <div class="label-input">
                    <label for="repeat">Repeat password</label>
                    <input type="password" placeholder="Repeat password" id="RepeatPassword">
                    <p id="textValidationRepeatPassword">Passwords must be the same</p>
                </div>
            </form>
            <div class="btn-accept" id="accept">
                <button type="button">
                    ACCEPT
                </button>
            </div>
        </div>
    </main>
    <footer>
        <div class="link-social">
            <a href="https://www.instagram.com" target="_blank">
                <img src="../../Assets/instagram-logo.png" alt="Instagram logo">
                @ROCKETGYM
            </a>
            <a href="https://wa.me/#####?text=¡I´m+interested!" target="_blank">
                <img src="../../Assets/whatsapp-logo.png" alt="Whatsapp logo">
                +1 408 741 2369
            </a>
            <a href="https://www.facebook.com" target="_blank">
                <img src="../../Assets/facebook-logo.png" alt="Instagram logo">
                Mega rocket GYM
            </a>
        </div>
        <div class="p-footer">
            <h2>
                MEGA ROCKET SA
            </h2> 
            <p>
                All rights reserved. 2023©
            </p>
        </div>
    </footer>
<script src="../js/sign-up.js"></script>
</body>
</html>