<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Week-06/css/reset.css">
    <link rel="stylesheet" href="../../Week-06/css/sign-up.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>Mega Rocket S.A. Gym | Sing-up</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="../../Assets/radium-rocket-logo.png" alt="Logo Radium Rocket">
            </a>
            <div>
                <h1>MEGA ROCKET S.A.</h1>
            </div>
        </div>
        <div class="btn-login-box">
            <a href="#" class="btn-login" target="_blank">
                LOGIN
                <img src="../../Assets/login-icon.png" alt="Login icon">
            </a>
        </div>
    </header>
    <main class="main-sign-up">
        <div class="box">
            <div class="form-sign-up">
                <div class="label-input">
                    <label for="name">Name</label>
                    <input type="text" placeholder="Name" id="Name">
                </div>
                <div class="label-input">
                    <label for="name">Lastname</label>
                    <input type="text" placeholder="Lastname" id="Lastname">
                </div>
                <div class="label-input">
                    <label for="name">Date of birth</label>
                    <input type="text" placeholder="Date of birth" id="DateOfBirth">
                </div>
                <div class="label-input">
                    <label for="name">Phone</label>
                    <input type="number" placeholder="Phone" id="Phone">
                </div>
                <div class="label-input">
                    <label for="name">Location</label>
                    <input type="text" placeholder="Location" id="Location">
                </div>
                <div class="label-input">
                    <label for="name">Postal Code</label>
                    <input type="text" placeholder="Postal Code" id="PostalCode">
                </div>
                <div class="label-input">
                    <label for="name">Email</label>
                    <input type="text" placeholder="Email" id="Email">
                </div>
                <div class="label-input">
                    <label for="name">Password</label>
                    <input type="text" placeholder="Password" id="Password">
                </div>
                <div class="label-input">
                    <label for="name">Repeat password</label>
                    <input type="text" placeholder="Repeat password" id="RepeatPassword">
                </div>
            </div>
            <div class="btn-accept">
                <button>
                    ACCEPT
                </button>
            </div>
        </div>
    </main>
</body>
</html>