@media screen and (min-width: 390px) and (max-width: 600px){
    footer {
        background-color: #C4C4C4;
        display: flex;
        flex-direction: column;
    }

    footer img {
        width: 50px;
        height: 50px;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    footer a {
        color: #000000;
        text-decoration: none;
        display: grid;
        align-content: center;
        align-items: center;
        justify-items: center;
        margin-top: 1rem;
    }
    
    footer .p-footer {
        color: #666666;
        margin-top: 50px;
        display: grid;
        justify-content: center;
        padding-bottom: 40px;
    }
    
    footer .p-footer h2 {
        color: #666666;
        font-size: 18px;
        font-weight: bold;
        text-shadow: none;
    }
    
    footer .p-footer p {
        font-size: 18px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    footer {
        background-color: #C4C4C4;
        height: 300px;
    }

    .link-social {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer img {
        width: 50px;
        height: 50px;
        margin-bottom: 1rem;
    }
    
    footer a {
        color: #000000;
        text-decoration: none;
        display: grid;
        align-content: center;
        align-items: center;
        justify-items: center;
        margin: 2rem;
    }
    
    footer .p-footer {
        color: #666666;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding-bottom: 40px;
        padding-top: 3rem;
    }
    
    footer .p-footer h2 {
        color: #666666;
        font-size: 18px;
        font-weight: bold;
        text-shadow: none;
    }
    
    footer .p-footer p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1025px) {
    footer {
        background-color: #323232;
        height: 148px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .link-social {
        display: flex;
        flex-direction: row;
    }

    footer img {
        width: 75px;
        height: 75px;
        margin-right: 1rem;
    }
    
    footer a {
        color: #FFFFFF;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin: 1rem;
    }
    
    footer .p-footer {
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-left: 6rem;
    }
    
    footer .p-footer h2 {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        text-shadow: none;
    }
    
    footer .p-footer p {
        font-size: 18px;
    }
}