body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-image: url("../../Assets/gym.jpg");
    background-size: cover;
}

header {
    background-color: #535353;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 80px;
    margin-top: 1rem;
    margin-left: 8rem;
}

.logo h1 {
    text-decoration: none;
    color: #E3EC39;
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.btn-login {
    background-color: #FFFFFF;
    margin-right: 4rem;
    border-radius: 10px;
    width: 120px;
    height: 76px;
}

.btn-login-box a {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: space-around;
}

.main-sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: #D9D9D9;
    opacity: 90%;
    width: 1012px;
    height: auto;
    margin-top: 2rem;
}

.form-sign-up {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 7rem;
}

.label-input {
    display: flex;
    flex-direction: column;
}

input {
    width: 260px;
    border-radius: 12px;
    height: 37px;
}

.btn-accept {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.btn-accept button {
    background-color: #E3EC39;
    width: 133px;
    height: 47px;
    border-radius: 10px;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 4rem;
}

.green-border {
    border: 6px solid #009419;
}

.red-border {
    border : 6px solid #e40202;
}

#textValidationEmail, 
#textValidationPassword, 
#textValidationName, 
#textValidationLastname,
#textValidationDate,
#textValidationPhone,
#textValidationLocation,
#textValidationPostalCode,
#textValidationRepeatPassword,
#textValidationDni,
#textValidationAdress {
    display: none;
    color: #e40202;
    margin-top: 1px;
}

footer {
    background-color: #323232;
    height: 148px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.link-social {
    display: flex;
    flex-direction: row;
}

footer img {
    width: 75px;
    height: 75px;
    margin-right: 1rem;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 1rem;
}

footer .p-footer {
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-left: 6rem;
}

footer .p-footer h2 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    text-shadow: none;
}